* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4be6d53;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #f8f9fa;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-toggle:checked + .nav-toggle-label + .nav-list {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}

footer {
    padding: 10px;
    background-color: #f8f9fa;
    font-size: 14px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 15px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}


@media (min-width: 600px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 992px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}










    