* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4be6d53;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #f8f9fa;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-toggle:checked + .nav-toggle-label + .nav-list {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}

footer {
    padding: 10px;
    background-color: #f8f9fa;
    font-size: 14px;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.text-section {
    flex: 1;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.image-section {
    flex: 1;
    text-align: right;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-section {
        text-align: center;
    }
}